<html>
<head>
    <title>Job Counts Bar Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <style>
        canvas {
            margin: 20px auto;
            display: block;
            width: 90%;
            max-width: 900px;
        }
    </style>
</head>
<body>
    <h1>Job Counts Bar Chart</h1>
    Hover on the bar to see the number of jobs and the company name
    {% if companies and counts %}
        <canvas id="bar-chart" width="800" height="450"></canvas>
        <script>
            var companies = {{ companies|tojson|safe }};
            var counts = {{ counts|tojson|safe }};

            var ctx = document.getElementById('bar-chart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: companies,
                    datasets: [{
                        label: 'Counts',
                        data: counts,
                        backgroundColor: 'rgba(54, 162, 235, 0.6)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Companies'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    {% endif %}
</body>
</html>